@import "./data/styles.css";

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background-color: #0a0c10;
}

::-webkit-scrollbar-thumb {
	background-color: #3a3d45;
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #d6ff3f;
}

.App {
	min-height: 100vh;
}
